* {
    background-color: #00031C;
    color: #DAEDF2;
}

.personal{
    float: right;
    margin-right: 35%;
}

.lowerbody{
    margin-top: 35px;
}

.heading{
    color: #eece92;
}

.picture{
    margin-top: 2%;
    margin-left: 3%;
    width: 150px;
}

.header{
    align-items: baseline;
}
.all{
    width: 80%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;

}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type:none;
    padding: 30;
}
.item {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin: 5px;
    padding: 0;
}